header{
    background: #000;
	color: #a6a6a6;
	left: 0;
	line-height: 3.25em;
	position: fixed;
	text-align: left;
	top: 0;
	width: 100%;
}
.logo{
    color: #FFF;
    margin: 0;
	padding: 0;
}
.logo a{
    margin-left: 20px;
    color: #FFF;
	text-decoration: none;
}
.logo a:hover {
	color: rgba(255, 255, 255, 0.65);
}


footer {
    text-align: left;
	padding: 4rem 0 2rem 0 ;
	background: #000;
	text-align: center;
	position:flex;
	width:100%;
}
footer a{
    color: #FFF;
	text-decoration: none;

}


main {
    margin-top: 60px;
	flex:1;
}
.inventor img{
    border-radius: 1000px;
}
.inventor{
    margin: auto;
    display: block;
    opacity:1;
    text-align: center;
    border-radius: 10px;
}
.inventor:hover{
    border: 5px #ccc solid;
    box-shadow: 0 0 10px #444;
}
section{
    display: flex;
    min-width: 1170px;
    align-items: center;
    margin: 30px;
}


a:hover {
	color: rgba(255, 255, 255, 0.65);
}
html, body {
    margin:0;
    padding:0;
}
body{
    background-image: url("img/b269378(1).jpg");
}