*, *:before, *:after {
    box-sizing: border-box;
}
div {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}
a{
    text-decoration: none;
    color:#fff;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

*{
    margin:0;
    color:#fff;
}

/* Intro */



html{
    background: linear-gradient(to right, #0095D9, #00BE44) fixed;
}
body{
    height: 100vh;
    margin:0;
    width:100%;
}
.body_emergency{
    background: linear-gradient(to right, rgba(0, 81, 118, 1), rgba(0, 75, 27, 1)) fixed;
}
.body{
     background: url("/frontend/img/main.png") center fixed;
    -webkit-background-size:cover;
    background-size: cover;
    background-repeat: no-repeat;
}



/* Header */

.header{
    background: #000;
    line-height: 3em;
    width:100%;
    position:absolute;
    z-index:1000;
    min-width:1200px;
}

.header_inner{
    z-index:1000;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.header_logo{
    z-index:1000;
    font-weight:700;
    margin-left:20px;
    font-size: 30px;
    color: #fff;
    background-image: linear-gradient(to right, #00AFFF, #00FF5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.emergency_text_header{
    position:absolute;
    float:center;
    background: black;
    font-weight:700;
    margin-left:20px;
    font-size: 30px;
    color:red;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0;
}

    /* Nav */

    .nav{
        z-index:1000;
        margin-right:30px;
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
    }
.nav_link {
    margin:0 3.5px;
    padding-bottom:7.5px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.nav_link:after{
    content: "";
    display: block;
    width:100%;
    height:3px;
    opacity: 0;

    background-color: #fff;

    position: absolute;
    top:100%;
    left:0;
    z-index:1;

    transition: opacity .4s linear;
}
.nav＿link:hover {
    color: rgba(255, 255, 255, 0.65);
}
.nav＿link:hover:after {
    opacity: 1;
}
.nav_link:hover {
    background-size: 100% 5px;
}
.nav_link:hover::before {
    background-size: 100% 2px;
}

/*Footer*/

footer {
    margin:0;
    text-align: center;
	padding: .5rem 0 .5rem 0 ;
	background: #000;
	width:100%;
	position: absolute;
    line-height: 2.5em;
    bottom: 0px;
    left:0;
    right:0;
    background-color: #000;
    position:inline;
    min-width:1200px;
}
.hrefab{
    float: right;
    color: #FFF;
	text-decoration: none;
	margin-right: 20px;
}
/*emergency*/
.emergency{
    float:left;
    display:inline-block;
}
.emergency_text{
    margin-left:80px;
    font-size: 24px;
    font-weight: 500;
    float:left;
}
.about{
    font-size: 24px;
    font-weight: 500;
}
.btn-lock {
  transform: scale(0.7);
  position: absolute;
  top: calc(50% - 25px);
  left: 10px;
  display: inline-block;
  background: #ff5b5b;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 6px 0 0 7px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn-lock svg {
  fill: none;
  transform: translate3d(0, 0, 0);
}

.btn-lock svg .bling {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-dasharray: 3;
  stroke-dashoffset: 15;
  transition: all 0.3s ease;
}

.btn-lock svg .lock {
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 36;
  transition: all 0.4s ease;
}

.btn-lock svg .lockb {
  fill: #fff;
  fill-rule: evenodd;
  clip-rule: evenodd;
  transform: rotate(8deg);
  transform-origin: 14px 20px;
  transition: all 0.2s ease;
}

#inpLock {
  display: none;
}

#inpLock:checked + label {
  background: #20cca5;
}

#inpLock:checked + label svg {
  opacity: 1;
}

#inpLock:checked + label svg .bling {
  animation: bling6132 0.3s linear forwards;
  animation-delay: 0.2s;
}

#inpLock:checked + label svg .lock {
  stroke-dasharray: 48;
  animation: locked 0.3s linear forwards;
}

#inpLock:checked + label svg .lockb {
  transform: rotate(0);
  transform-origin: 14px 22px;
}

@keyframes bling6132 {
  50% {
    stroke-dasharray: 3;
    stroke-dashoffset: 12;
  }

  100% {
    stroke-dasharray: 3;
    stroke-dashoffset: 9;
  }
}

@keyframes locked {
  50% {
    transform: translateY(1px);
  }
}

/*intro*/
.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 80px);
        margin: auto;
        width: 60%;
        color:#fff;
}
.intro_inner {
    width: 80%;
    height: 56%;
    font-weight: bolder;
    background: rgba(0, 0, 0, 0.65);
    text-align: center;
    margin: 5px;
    padding: 30px 0;
    padding-bottom: 30px;
    border: 0px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 60% 30%;
    justify-items: center;
    align-content: space-evenly;
}
.intro_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: rgba(0, 0, 0, 0.65);
    margin: 5px;
    padding: 25px 0;
    border-radius: 20px;
    font-size: calc(5px + 1vw);
}
.intro_text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 1vw);
    margin:10px 0;
}
.btn{
    margin-top:30px;
    padding:12px 10px;
    background: linear-gradient(to right, #0095D9, #00BE44);
    color: white;
    border-radius: 25px;
    border: 0px;
    width:60%;
}
.btn:hover{
     background-color: hsl(261deg 80% 48%);
     box-shadow: rgb(0 220 220) 0px 7px 29px 0px;

}
.btn a{
	text-decoration: none;
	align-items: center;
    justify-content: center;
	margin: 0;
	font-size: calc(5px + 1vw);
}

