*, *:before, *:after {
    box-sizing: border-box;
}
div {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}
a{
    text-decoration: none;
    color:#fff;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}


/* Intro */

.intro{
    width:100%;
    height:100vh;

    background: url("../img/greenhose-enter.png") center no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}

body{
    background: linear-gradient(to right, #0095D9, #00BE44) fixed;
}






/* Header */

.header{
    background: #000;
    line-height: 3em;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:1000;

    min-width:1200px;
}

.header_inner{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.header_logo{
    background-image: linear-gradient(to right, #00AFFF, #00FF5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:700;
    margin-left:20px;
    font-size: 30px;
    color: #fff;
}



/* Nav */

.nav{
    margin-right:30px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.nav_link {
    margin:0 3.5px;
    padding-bottom:7.5px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.nav_link:after{
    content: "";
    display: block;
    width:100%;
    height:3px;
    opacity: 0;

    background-color: #fff;

    position: absolute;
    top:100%;
    left:0;
    z-index:1;

    transition: opacity .4s linear;
}

.nav＿link:hover {
    color: rgba(255, 255, 255, 0.65);
}

.nav＿link:hover:after {
    opacity: 1;
}


.dis:hover {
    background-size: 100% 3px;
}
.nav_link:hover::before {
    background-size: 100% 3px;
}
.active {
    background-size: 100% 5px;
}




/*Footer*/

footer {

    text-align: center;
	padding: .5rem 0 .5rem 0 ;
	background: #000;
	width:100%;
	position: absolute;
    line-height: 2.5em;
    bottom: 0px;
    left:0;
    right:0;
    background-color: #000;
    position:inline;
    min-width:1200px;
}
.hrefab{
    float: right;
    color: #FFF;
	text-decoration: none;
	margin-right: 20px;
}
.copyright {

    font-size: 14px;
    color: #333;
    text-align: center;

}
.emergency{
    font-size: 20px;
    float: left;
    color: #FFF;
    background-color:grey;
	margin-left: 20px;
	margin-top:10px;
	border: 0px;
    border-radius: 20px;
}





/* Section */
.section{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width:90%;
    height:100%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.conteiner{
    color:#fff;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    height:100%;
    display:grid;
    grid-template-rows: 80%, 20%;
    margin-top:80px;
    grid-row-gap: 15px;

}
.section_title{
    padding-top:35px;
    text-align:center;
    font-size:27px;
    margin:15px 20px;
    margin-top:0;
    background:rgba(0, 0, 0, 0.65);
    height:auto;
    border:0px;
    border-radius:20px;
}
.section-main{
    margin:0px 20px;
    margin-top:-20px;
    height:600px;
    background:rgba(0, 0, 0, 0.65);
    border:0px;
    border-radius:20px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 12px;
}
.section-main_data{
    margin: 0px 20px;
    margin-top: -20px;
    padding-top: 0%;
    height: 600px;
    background: rgba(0, 0, 0, 0.65);
    border: 0px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 75% 23%;
    grid-row-gap: 2%;
    align-content: center;
}
.column{
    display:grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
}
.row{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10%;
    align-items: center;
}
.block{
    text-align:center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top:8%;
}
.block_data{
    text-align:center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top:8%;
}
.btn{
    margin-left: auto;
    margin-right: auto;
}
.submit:hover{
     background-color: hsl(261deg 80% 48%);
     box-shadow: rgb(0 220 220) 0px 7px 29px 0px;

}
.submit{
    height:100px;
    width:300px;
    border:0px;
    padding:20px 10px;
    background: linear-gradient(to right, #0095D9, #00BE44);
    color: white;
    border-radius: 25px;
    border: 0px;
}
.form {
 --width-of-input: 250px;
 --border-height: 1px;
 --border-before-color: rgba(221, 221, 221, 0.39);
 --border-after-color: #5891ff;
 --input-hovered-color: #4985e01f;
 position: relative;
 width: var(--width-of-input);
}

/* styling of Input */
.input {
 color: #fff;
 font-size: 1.6rem;
 background-color: transparent;
 width: 100%;
 box-sizing: border-box;
 padding-inline: 0.5em;
 padding-block: 0.5em;
 border: none;
 border-bottom: var(--border-height) solid var(--border-before-color);
}
.input_data {
 color: #fff;
 font-size: 1.4rem;
 background-color: transparent;
 width: 80%;
 box-sizing: border-box;
 padding-inline: 0.5em;
 padding-block: 0.5em;
 border: none;
 border-bottom: var(--border-height) solid var(--border-before-color);
}
/* styling of animated border */
.input-border {
 position: absolute;
 background: var(--border-after-color);
 width: 0%;
 height: 2px;
 bottom: 0;
 left: 0;
 transition: 0.3s;
}

input:focus {
 outline: none;
}
.container-form{
    margin-top:-17px;
    margin-left: auto;
    margin-right: auto;
}


