*, *:before, *:after {
    box-sizing: border-box;
}
div {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}
a{
    text-decoration: none;
    color:#fff;
}
*{
    margin:0;
    color:#fff;
}

html{
    background: linear-gradient(to right, #0095D9, #00BE44) fixed;

}
body{
    height: 100vh;
    margin:0;
    width:100%;

    background: url("/frontend/img/stat.png") center fixed;
    -webkit-background-size:cover;
    background-size: cover;
    background-repeat: no-repeat;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}





/* Intro */

body{
    min-width:1300px;
    background: linear-gradient(to right, #0095D9, #00BE44) fixed;
}





/* Header */

.header{
    background: #000;
    line-height: 3em;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:1000;

    min-width:1200px;
}

.header_inner{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.header_logo{
    background-image: linear-gradient(to right, #00AFFF, #00FF5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:700;
    margin-left:20px;
    font-size: 30px;
    color: #fff;
}



/* Nav */

.nav{
    margin-right:30px;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}
.nav_link {
    margin:0 3.5px;
    padding-bottom:7.5px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.nav_link:after{
    content: "";
    display: block;
    width:100%;
    height:3px;
    opacity: 0;

    background-color: #fff;

    position: absolute;
    top:100%;
    left:0;
    z-index:1;

    transition: opacity .4s linear;
}

.nav＿link:hover {
    color: rgba(255, 255, 255, 0.65);
}

.nav＿link:hover:after {
    opacity: 1;
}


.dis:hover {
    background-size: 100% 3px;
}
.nav_link:hover::before {
    background-size: 100% 3px;
}
.active {
    background-size: 100% 5px;
}


/* Table */
#wrapper{
    width:90%;
    height:80%;
    margin:0 auto;
    padding-top:1%;
}
.gridjs *, .gridjs :after, .gridjs :before {
    box-sizing: border-box;
    color: black;
}

/* Section */
.main {
        margin: auto;
        width: 100%;
        padding:4%;
        padding-bottom:6%;
        height:100%;
        color:#fff;
        display:grid;
        grid-template-columns:70% 25%;
        gap:4%;
}
.row{
    gap:1%;
    display:grid;
    grid-template-columns:repeat(3,32%);
}
.block_tables{
     width:100%;
     height:105%;
     background:rgba(0, 0, 0, 0.85);
     margin:10px;
     border-radius: 20px;
     flex-direction: column;
     align-items: center;
}
.block_managment{
    text-align: center;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.85);
    margin:10px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    display:grid;
    grid-template-rows:15%, repeat(6,11%);
    gap:1%;
    align-content: space-evenly;
}
.state_bar{
    padding:2% 0;
    padding-left:5%;
     width:100%;
     margin:10px;
     border-radius: 20px;
      lex-direction: column;
     align-items: center;
     display:grid;
     grid-template-columns: 15% 70%;
     justify-items: center;
}
.title{
    margin-top:2%;
    margin-left:5%;
    display:grid;
    grid-template-columns: 60% 15%;

    align-items: center;
    justify-content: space-between;
}
#s1{
    height:100%;
    background:rgba(0, 0, 0, 0.75);
    font-size: 34px;
    border-radius: 50px;
    border-color:black;
    width:70%;
    height:50px;
    padding-left:10%;
}
.title_bars{
    margin-top:5%;
}
.some_switcher{
    align-items: center;
    text-align: center;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;

}

.switch {
    margin:5px;
    margin-left:10px;

    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .toggle {
    display: none;
  }

  label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000f00;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  label:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #adb5bd;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  .toggle:checked + label {
    background-color: #00BE44;
  }

  .toggle:checked + label:before {
    background-color: #fff;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .off{
    text-align:center;
  }




/*Footer*/

footer {

    text-align: center;
	padding: .5rem 0 .5rem 0 ;
	background: #000;
	width:100%;
	position: absolute;
    line-height: 2.5em;
    bottom: 0px;
    left:0;
    right:0;
    background-color: #000;
    min-width:1200px;
}
.hrefab{
    float: right;
    color: #FFF;
	text-decoration: none;
	margin-right: 20px;
}
.copyright {

    font-size: 14px;
    color: #333;
    text-align: center;

}
.emergency{
    font-size: 20px;
    float: left;
    color: #FFF;
    background-color:grey;
	margin-left: 20px;
	margin-top:10px;
	border: 0px;
    border-radius: 20px;
}







